body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 40px;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 10px;
    margin-left: 5px;
}

li {
    list-style: none;
    margin: 10px;
}

.done {
    text-decoration: line-through;
    color: gray;
}
